<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>User</h1>
    <div>
        Logged in as: <span th:text="${name}"></span>
    </div>
    <div>
        <a href="/logout">Logout</a> <!-- Ссылка на выход -->
    </div>
</div>
</body>
</html>
