<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>User</h1>
    <div>
        <p><strong>Name:</strong> <span th:text="${name}"></span></p>
        <p><strong>Login:</strong> <span th:text="${login}"></span></p>
        <p><strong>ID:</strong> <span th:text="${id}"></span></p>
    </div>
    <div>
        <a href="/logout">Logout</a> <!-- Ссылка на выход -->
    </div>
</div>
</body>
</html>
